<!DOCTYPE html>
<html>

<head>

	<title>Task manager</title>
	<link rel="stylesheet" type="text/css" href="css/style.css" />

</head>
<body>

	<div id="root">

		<h1>Gestionnaire de tâche</h1>

		<input type="text" placeholder="Nom de la tâche" v-model="newTaskName">

		<input type="text" placeholder="Durée de la tâche" v-model="newTaskLength">

		<button @click="addTask" >Ajouter</button>

		<h3>Tâches en cours</h3>

		<ul>
			
			<li v-for='task in tasks' v-if="task.complete == false">
					
					{{ task.name }}

					&emsp;

					( {{ task.length }})

					&emsp;

					<button @click="taskComplete(task)">done</button>
					<button @click="deleteTask(task)">delete</button>				
			</li>

		</ul>

		<h3>Tâches réalisées</h3>

		<ul>
			
			<li v-for='task in tasks' v-if="task.complete == true">
					
					{{ task.name }}

					&emsp;

					( {{ task.length }})

					&emsp;

					<button @click="deleteTask(task)">delete</button>

			</li>

		</ul>

		

	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

	<script>

		class Task {
			constructor(name,length) {
				this.name=name;
				this.length=length;
				this.complete=false;
				this.date=new Date();
			}
		}
		
		var app = new Vue({

			el: '#root',

			data: {

				newTaskName: "" ,

				newTaskLength: "" ,

				tasks: [],

			},

			methods: {

				tacheDejaExistente() {
					for( var i = 0; i < this.tasks.length; i++){
						if ( this.tasks[i].name == this.newTaskName) {
							return true;
						}
					}
					return false;
				},

				addTask() {
					if (this.newTaskName == '') {
						alert('Veuillez donner un nom à la tâche');
					}
					else if (this.tacheDejaExistente()) {
						alert("Une tâche porte déja le même nom");
					}
					else if (this.newTaskLength == '') {
						alert('Veullez donner une durée à la tâche');
					}
					else {	
						this.tasks.push(new Task(this.newTaskName,this.newTaskLength));
						this.newTaskName='';
						this.newTaskLength='';
					}
				},

				taskComplete(task) {
					for( var i = 0; i < this.tasks.length; i++){
						if ( this.tasks[i] === task) {
							this.tasks[i].complete = true;
						}
					}
				},

				deleteTask(task) {
					for( var i = 0; i < this.tasks.length; i++){
						if ( this.tasks[i] === task) {
							this.tasks.splice(i,1);
						}
					}
				}
				
			}
		})

		

	</script>


</body>
</html>
